version: "3.8"

services:
  qdrant:
    image: qdrant/qdrant:v1.11.0@sha256:cc802bd2841ec2026725e19619075982311ce4d7182dc8c03a0c8e6817bb9170
    ports:
      - "6333:6333"
      - "6334:6334"
    restart: unless-stopped
